# Dependencies
node_modules/

# Build output
dist/
tmp/
out-tsc/

# Angular cache
.angular/

# IDE
.idea/
*.iml
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Kafka SSL
*.truststore.jks
kafka-ca.pem

# Logs
*.log
npm-debug.log*

# Testing
coverage/

# Claude Code
.claude/
**/mvnout.log

scratchpad/*

# Maven
target/
*.class
*.jar
*.war
.idea/
*.iml
